$bodyBgColor: #ffffff;
$textWhite: #ffffff;
$bodyTextColor: #000000;
$bodyFont: "DM Sans", sans-serif;
$highlightBg: #0047cc;
$fontLink: 20px;
$fontLinkMobile: 25px;
$fontMd: 20px;
$aboutBg: #fafafa;
$pillColor1: #ffbb62;
$pillColor2: #ff8c62;
$secondaryColor: #121212;
$influencer2Bg: #202020;
