.menu {
  @include flex(null, center, space-between);
  @include media("<=999px") {
    display: none;
  }
  &__link {
    display: inline-block;
    color: $textWhite;
    font-size: pxToREM($fontLink);
    font-weight: normal;
    font-style: normal;
    line-height: 23.32px;
    @include media(">=1600px") {
      font-size: pxToREM(25px);
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
.menu-mobile {
  display: none;
  @include media("<=999px") {
    @include flex(null, center, space-between);
    position: fixed;
    top: 0;
    left: 0;
    background-color: $highlightBg;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 100;
    padding: 60px 0;
    transform: translateY(-100vh);
  }
  &__item {
    overflow: hidden;
  }
  &__link {
    display: inline-block;
    font-size: pxToREM($fontLinkMobile);
    color: $textWhite;
    font-weight: normal;
    font-style: normal;
    line-height: 23.32px;
    transform: translateY(50px);
  }
}
