text {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}
.fans2-svg {
  width: 100%;
  height: 100%;
  text {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    fill: #000000;
  }
}
.influencer2-rect {
  // transform-origin: bottom left !important;
}
.chat-svg {
  transform: translateY(500px);
}
