<section class="l-about">
  <img src="assets/img/about-image.svg" alt="" class="about-image">
  <div class="l-space-left-sm">
    <h2 class="section-heading section-heading--highlight section-heading--about">What can Ear1 help you do?</h2>
    <p class="text text--about">Are you an individual looking to connect with an influencer without the hassle of waiting for the reply over a long time,
      or an influencer looking to filter your dm’s and connect with your audience, Ear1 has got you covered.</p>
  </div>
</section>