<div id="#fans" class="l-pin-layout">
  <section id="js-fans1" class="l-fans1 l-pin">
    <div class="l-space-left-lg l-space-right-md">
      <div class="l-section-layout">
        <div class="l-content-constraint">
          <div class="pill pill--fans">Fans</div>
          <h2 class="section-heading section-heading--secondary section-heading--dark section-heading--top">Connect with top influencers in your field</h2>
          <p class="text text--secondary text--dark text--opaque">From Tech to music to business, Ear1 has a wide range of industry experts in diverse fields you have always wanted
            to connect with. Now is your best chance.</p>
        </div>
        <div class="fans1-image">
          <img class="fans1-image__one" id="js-fans1-image" src="https://res.cloudinary.com/dexg5uy3d/image/upload/v1628864724/fans-1_ugqhud.png"
            alt="">
          <img class="fans1-image__two" id="js-fans1-image" src="https://res.cloudinary.com/dexg5uy3d/image/upload/v1628864715/fans-2_mjyfxj.png"
            alt="">
          <img class="fans1-image__three" src="https://res.cloudinary.com/dexg5uy3d/image/upload/v1628864735/fans-3_i9tx0k.png" alt="">
          <img class="fans1-image__four" src="https://res.cloudinary.com/dexg5uy3d/image/upload/v1628864735/fans-4_tmrcfj.png" alt="">
          <img src="assets/img/fans-base.svg" alt="">
        </div>
      </div>
    </div>
  </section>
</div>