<div class="l-pin-layout">
  <section id="js-influencer1" class="l-light l-influencer1 l-shadow l-pin">
    <div class="l-space-right-lg">
      <div class="l-section-layout">
        <div class="influencer1-image">
          <img src="assets/img/phone5.png" alt="Onboarding screen for influencer feature">
        </div>
        <div class="l-content-constraint l-align-top l-space-top-md">
          <div class="pill pill--influencer">Influencer</div>
          <h2 class="section-heading section-heading--secondary section-heading--dark section-heading--top">Earn money while you chat</h2>
          <p class="text text--secondary text--dark text-opaque">As an influencer, you get paid by your audience to connect with them. That way to maximize time while earning.</p>
        </div>
      </div>
    </div>
  </section>
</div>