<section id="js-influencer2" class="l-influencer2 l-shadow l-dark">
  <div class="l-space-right-sm">
    <div class="l-section-layout">
      <div class="influencer2-image">
        <svg viewBox="0 0 720 662" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g clip-path="url(#clip0)">
            <rect width="720" height="662" fill="#272727" />
            <rect y="-1" width="720" height="662" fill="url(#pattern0)" fill-opacity="0.3" />
            <g filter="url(#filter0_d)">
              <g class="influencer2-rect" id="js-popup">
                <rect x="119" y="173" width="514" height="316" rx="20" fill="#363636" />
                <text fill="white" x="231.36" y="268">Femi Adekunle</text>
                <text fill="white" x="379.329" y="268" fill-opacity="0.7">has paid and requested</text>
                <text fill="white" x="231.36" y="296" fill-opacity="0.7">to you</text>
                <circle cx="186" cy="276" r="30" fill="url(#pattern1)" />
                <rect x="383" y="350" width="206" height="54" rx="8" fill="#029C56" />
                <text x="451.46" y="384" fill="white">Accept</text>
                <rect x="156" y="350" width="206" height="54" rx="8" fill="#E34D4D" />
                <text x="225.36" y="384" fill="white">Decline</text>
              </g>

              <path d="M120 -14.5H112.5V-7V469C112.5 484.188 124.812 496.5 140 496.5H613C628.188 496.5 640.5 484.188 640.5 469V-7V-14.5H633H120Z"
                stroke="#2E2E2E" stroke-width="15" />
            </g>
          </g>
          <defs>
            <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image1" transform="translate(-0.249908) scale(0.000366166)" />
            </pattern>
            <filter id="filter0_d" x="85" y="-32" width="583" height="566" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
              <feOffset dy="10" />
              <feGaussianBlur stdDeviation="10" />
              <feColorMatrix type="matrix" values="0 0 0 0 0.0166667 0 0 0 0 0.0166667 0 0 0 0 0.0166667 0 0 0 0.2 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
            <clipPath id="clip0">
              <rect width="720" height="662" fill="white" />
            </clipPath>
            <image id="image1" width="4096" height="2731" xlink:href="assets/img/influencer2-avatar.png" />
          </defs>
        </svg>
      </div>
      <div class="l-content-constraint">
        <div class="l-flex">
          <div class="pill pill--influencer">Influencer</div>
          <img src="assets/img/Icon filter.svg" alt="">
        </div>
        <h2 class="section-heading section-heading--secondary section-heading--top">Filter the noise in the dm’s</h2>
        <p class="text text--secondary text--opaque">Ear1 helps you get rid of all the noise in your dm’s across other social media apps. This way, you are sure to connect
          with serious people and make genuine business and personal connections.</p>
      </div>
    </div>
  </div>
</section>